{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} ~ Catégories{% endblock %}

{% block body %}
{% for category in categories %}
<li><a href="{{ path("category-view", {id: category.id} ) }}">{{ category.name | capitalize}}</a></li>
{% endfor %}
{% endblock %}
